#content_home, #content_history {
    background-image: url("../images/mainPageImage.jpg");
}

#content_todo_form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.backgroundColor_red {
    background-color: #F44336 !important;
}

#popup_googleMap{

}
